<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-03-11-Go.markdown</string>
		</array>
		<array>
			<string>2016-03-11-HTTPS.markdown</string>
		</array>
		<array>
			<string>2016-03-11-VPN.markdown</string>
		</array>
		<array>
			<string>2016-03-11-WSDL.markdown</string>
		</array>
		<array>
			<string>2016-03-15-Open vSwitch.md</string>
		</array>
		<array>
			<string>2016-03-21-electron.markdown</string>
		</array>
		<array>
			<string>2016-03-21-OpenStack.markdown</string>
		</array>
		<array>
			<string>2016-03-30-ICPReadme.markdown</string>
		</array>
	</array>
</dict>
</plist>
